@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* === Home === */
.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #e1e5e9;
}
.page1 {
    /* padding: 10px; */
    width: 60%; 
    display: flex;
    box-shadow: 0px 0px 6px #00000040;
    border-radius: 10px;
}
.page1 .left-side h1 {
justify-content: flex-start;
}
.page1 .left-side {
    flex: 60%;
    padding: 30px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.page1 .left-side p {
    text-align: justify;
}
.page1 .cv {
    padding-top: 6px;
    padding-bottom: 17px;
}
.cv .kontak {
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
.cv label {
    padding-left: 10px;
}
.page1 .right-side {
    flex: 40%;
    background-color: white;
    padding: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.right-side .profile {
    box-shadow: 0px 0px 6px #00000040;
    width: 300px;
    border-radius: 10px;
    padding-bottom: 15px;
}
#agus {
    font-weight: 900;
    font-size: 25px;
}
/* === Nav Bar === */
nav {
    display: flex;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    padding-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding-left: 25
}
nav ul li a.active {
    color: crimson;
    font-weight: 700;
}
nav div {
    flex: 1;
    display: flex;
    height: 7vh;
    align-items: center;
}
nav .left-side {
    background-color: #f4f3f3;
    padding-left: 50px;
}
nav .right-side {
    background-color: #f4f3f3;
    justify-content: end;
    padding-right: 50px;
}
nav .left-side a:hover {
    text-decoration: none;
    color: rgb(116, 113, 113);
    padding-left: 25;
}
nav .right-side a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;
}

/* === Form Contact ===*/
.page{
    justify-content: center;
    align-items: center;
    height: 93vh;
    display: flex;
    background-color: #dce0e4;
}
.page .contact-me h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
} 
body{
    margin: 0px;
}
.contact-me{
    margin-top: -68px;
    width: 500px;
    height: 600px;
}
.contact-me div {
margin-bottom: 20px;
}
.contact-me div label {
    padding-bottom: 10px;
    /* padding-top: 10px; */
}
.contact-me div input, select, textarea {
    width: 98%;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}
.contact-me div input {
    width: 96%;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    border-radius: 5px;
}
.contact-me button {
    margin-left: 340px;
    /* margin-top: 10px; */
    border-style: none;
    padding: 7px 40px;
    background-color: rgb(0, 0, 20);
    border-radius: 20px;
    font-weight: 800;
    transition: 0.5s;
}
.contact-me button:hover {
    background-color: rgb(133, 133, 133);
}
.contact-me div textarea {
    height: 100px;
    width: 480px;
    resize: none;
}
#submit {
    color: #dce0e4;   
}

/* == Project == */
.container {
    display: flex;
    height: 93vh;
    background-color: #e3e7eb;
    justify-content: center;

}
.container .from-container {
    display: flex;
}
form {
    display: block;
    width: 500px;
    height: 600px;
}
.container .form-container h4 {
    text-align: center;
    font-weight: 900px;
    font-size: 25px;
    padding-top: 20px;
}
h4 {
    margin: 0px ;
    padding: 0px ;
}
.container .form-container .project-input input {
    width: 97%;
    height: 38px;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    border: 1px solid rgb(204, 204, 204);
}
.container .form-container .date-input {
    display: flex;
    margin-top: 15px;
}
.container .form-container .date-input div {
    flex: 50%;
}
.container .form-container .date-input input {
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    border: 1px solid rgb(204, 204, 204);
}
.container .form-container .desc-input {
    margin-top: 15px;
}
.container .form-container .desc-input textarea {
    resize: none;
    width: 96%;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    border: 1px solid rgb(204, 204, 204);
}
.container .form-container .tech-input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.container .form-container .tech-input .left-checkbox {
    /* width: 40px; */
    /* margin-top: 10px; */
    color: #4d4d4d;;
}
.container .form-container .tech-input .right-checkbox {
    /* width: 40px; */
    margin-top: -49px;
    margin-left: 250px;
    color: #4d4d4d;;
}
.img {
    margin-top: 10px;
}
.img .input-choose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(204, 204, 204);
    width: 96%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(212, 212, 212);
    padding-left: 5px;
}
.submit button {
    padding: 7px 40px;
    background-color: rgb(0, 0, 20);
    border-radius: 20px;
    font-weight: 800;
    margin-left: 70%;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    color: white;
    transition: 0.5s;
}
.submit button:hover {
    background-color: rgb(133, 133, 133);
}

/* == project list == */
.container-1 {
    background-color: #f7f7f7;
    height: 100vh;
}
.container-1 .title {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 900;
}
h4 {
    text-align: center;
}
.project-list {
    width: 1030px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.project-list-item {
    margin: 20px;
    width: 300px;
    height: 430px;
    box-shadow: 0px 5px 20px rgb(216 216 216);
    border: 0.2px solid rgb(216, 216, 216);
    cursor: pointer;
    border-radius: 8px;
}
a {
    color: black;
    text-decoration: none;
}
.project-list-item .card-img {
    width:  280px;
    margin: 10px auto;
    height: 200px;
}
.project-list-item .card-img img {
    width: 280px;
    border-radius: 8px;
    height: 198px;
}
.project-list-item .card-title h3 {
    padding-left: 10px;
    font-size: 14px;
    width: 280px;
    margin-top: -8;
}
.project-list-item .card-drs p {
    color: #585858a6;
    padding-left: 10px;
    margin-top: -10px;
}
.project-list-item .card-desc {
    margin-top: -10px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;
}
.project-list-item .card-icon img {
    width: 30px;
    padding-left: 10px;
    margin-top: 10px;
}
.project-list-item .card-btn {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 10px;
}
.project-list-item .card-btn button {
    width: 140px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 20);
    font-weight: 500;
    font-size: 15px;
    margin: 2px;
}

/* == project detail == */
.page {
    display: flex;
    flex-direction: column;
    padding: 70px;
    height: auto;
}
.page .project-detail {
    display: flex;
    margin-top: 40px;
}
.img-detail {
    justify-content: flex-start;
}
.detail-info {
    width: 500px;
    margin-left: 110px;
}
.durasi-info div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.date-info img {
    width: 25px;
    padding-right: 5px;
}
.date-info label {
    padding: 10px;
}
.clock {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.clock img {
    width: 25px;
    margin-right: 15px;
}
.tech-info {
    display: flex;
    margin-top: 20px;
    /* flex-direction: column; */
    /* width: -700px; */
    /* margin-right: 300px; */
}
.tech-info .left-info div{
    display: flex;
    /* align-items: center; */
    padding: 5px;
}
.left-info img {
    width: 25px;
    margin-right: 10px;
}
.right-info img {
    width: 25px;
    margin-right: 10px;
}
.tech-info .right-info div{
    display: flex;
    /* align-items: center; */
    padding: 5px;
}
.desc {
    margin-top: 60px;
}
.desc p {
    text-align: justify;
}